<!--Footer-->
<footer class="page-footer text-center">
    <section class="footer-image">
        <div class="footer-image-filter">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <h4 for="mce-EMAIL">Subscribe to Email Updates</h4>
                    </div>
                    <div class="col-12 col-md-8">
                        <form action="https://multi-pitch.us19.list-manage.com/subscribe/post?u=e6bb5a84231b4cc61f769f196&amp;id=1fadd83d1d"
                         method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="blank">
                            <input type="email" aria-label="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="email@domain.com" class="subscribe-input email" />
                            <input  type="submit" aria-label="subscribe" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="subscribe-button" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>    
    <section class="grey">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <video autoplay loop muted playsinline class="danger-gif" >
                        <source src="/img/other/danger/climb-danger.webm" type="video/webm"> 
                        <source src="/img/other/danger/climb-danger.mp4" type="video/mp4">  
                    </video>
                    <h4>Rock Climbing is Dangerous</h4>
                    <p style="min-height:90px">
                        <strong>Do not use any information in this website to plan, attempt, or climb a particular route 
                        unless you are willing to assume personal responsibility for all risks associated. Don't 
                        treat this site as instruction.</strong> Rock climbing is an activitiy with a
                        danger of personal injury or death. Participants should be aware of and accept these risks and be
                        responsible for their own actions. If in doubt, don't climb.
                        <a href="https://www.thebmc.co.uk/risk-and-safety" target="blank">
                            <abbr title="British Mountaineering Council">BMC</abbr> Statement <i class=" icon-link-ext"></i>
                        </a>
                    </p>
                </div>
            
            </div>
        </div>
    </section>
    <section class="footer-copyright">
        <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="blank">&copy; 2025 Creative Commons</a> -
        <a href="/"> multi-pitch.com </a> - 
        <a href="/about/#contact">Contact</a>
    </section>

</footer>    
<a onClick="hideTile(false)" onKeyDown="hideTile(false)" class="close" id="close"></a>
<div class="overlay" id="overlay" onKeyDown="return event.code != 'Escape' || hideTile(false)"></div>
<script>
    window.performance.mark('html-end');
</script>
 </body>