    <!--Footer-->
<footer class="page-footer text-center font-small">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4>Rock Climbing is Dangerous</h4>
                <p style="min-height:90px">
                    Do not treat this site as instruction. Rock climbing is an activitiy with a danger of
                    personal injury or death. Participants should be aware of and accept these risks and be
                    responsible for their own actions. If in doubt, don't climb.
                </p>
                <a class="btn btn-outline-white" href="https://www.thebmc.co.uk/risk-and-safety" target="blank"
                   role="button">BMC STATEMENT</a>
            </div>
            <div class="col-md-4">
                <h4>Contact Us</h4>
                <p style="min-height:90px">
                    We would love to hear from you, please send us any comments, corrections, or suggestions.
                    This site is intended as a free resource for the climbing comunitiy now and for the future.
                </p>
                <a class="btn btn-outline-white" href="/about/#contact" role="button">CONTACT</a>
            </div>
            <div class="col-md-4">
                <h4>Stay Up to date</h4>
                <p style="min-height:90px">
                    If you want to stay up to date with the new climbs that are added please subscribe below.
                    We won't ever send more than 2 emails a month and we won't share any of your details with
                    anyone else.
                </p>
                <a class="btn btn-outline-white" href="" role="button"
                   onClick="openSubscribe();gtag('event', 'open-subscribe', {'event_category':'subscribe', 'event_label':'Open subscribe - homepage footer'});return false;">
                    SUBSCRIBE TO UPDATES
                </a>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="blank">&copy; 2019 Creative Commons</a> -
        <a href="/"> multi-pitch.com </a>
    </div>
    <a onClick="hideTile(false)" class="close" id="close"></a>
    <div class="overlay" id="overlay"></div>
    <script>
        window.performance.mark('html-end');
    </script>
</footer>
</body>