
<body id="bdy">
<!-- Navbar -->
<nav>
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/img/logo/mp-logo-white.png" style="width:30px;" alt="multi-pitch logo" />
        </a>
        <ul>
            <li>
                <a href="/#filters">Find <span class="not-mobile">Your Climb</span></a>
            </li>
            <li>
                <a href="/map/">Map <span class="not-mobile">View</span></a>
            </li>
            <li>
                <a href="/about/">About <span class="not-mobile">&amp; Contact Us</span></a>
            </li>
        </ul>
    </div>
</nav>