<div class="row">
    <div class="col" style="background-color:#FFFFC5">
        <p style="margin-top:1rem;">
            <strong><i class="icon-attention"></i>Climbing is Dangerous!</strong><br/>
            Although I want the content on this site to be helpful and thought provoking, do not assume anything I say is safe to follow. 
            Rock climbing is an activitiy with a danger of personal injury or death. Participants should be aware of and accept these risks
            and be responsible for their own actions.                           
        </p> 
    </div>
</div>