#color{
    display:block;
    width:80px;
    height:80px;
    border-radius:40px;
    margin:0 auto 20px;
}
.box {
    display:inline-block;
    width:45%;
    margin:2%;
    border-radius:5px;
    background: #cfcfcf;
    height:120px;		
}
.dark .box{
    background: #363636;
}
h3{
    font-size: 28px;
    margin:28px 14px;
}
.dark h2 {
    color:#FFF;
    margin:12px;
}