#newJSON, .overlay-title {
    width:80%;
    display: block;
}
#newJSON{
    height: 60vh;
    margin: 20px auto;
}
.overlay .holder{
    max-width: 800px;
    margin: 20px auto 0;
    padding:30px;
}
.overlay-title{
    color: #FFF;
    font-weight: 800;
    margin: 10px;
}
.overlay p {
    display: inline-block;
    padding: 5px;
    margin: 10px;
    width: 200px;
    color:#FFF;
}
.overlay p[contenteditable="true"] {
    background: #FFF;
    color:#111;
    margin: 10px;
}

*[contenteditable="true"], #grade {
    border: 1px dotted rgba(95, 20, 48, 0.6);
}

.inline-button {
    background-color: #FFF;
}

.primary{
    background-color: #0055B8;
    color: #FFF;
}