/**************/
/** DOWNLOAD IMG **/

#offline-img-yes {
  display: none;
}

/**************/
/** ELEMENTS **/
h1,h3,h4,p,ul {
  margin-top: 0;
}
h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.6rem;
  font-weight:300;
}
h3 {
  font-size: 1.4rem;
  padding-top:0.8rem
}
h4 {
  font-size: 1.4rem
}
p,ul {
  margin-bottom: 1rem;
}
body {
  text-align: left;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
  font-display: swap;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #212529;
  background-color: #fff
}
h1,h3,h4 {
  margin-bottom: .5rem;
}
figure,footer,main,nav,section {
  display: block;
}
button,hr {
  overflow: visible;
}
html {
  font-family: sans-serif
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}
figure {
  margin: 0 0 1rem;
}
strong {
  font-weight: bolder;
}
small {
  font-size: 80%;
  font-weight: 300;
}
a {
  color: #0055B8;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}
a:hover {
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  text-decoration: none;
  color: #002657;
  text-decoration: underline;
}
h1,h3,h4 {
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}
hr {
  margin-bottom: 1rem; 
  margin-top: 1.5rem;
  box-sizing: content-box;
  height: 0;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}
img {
  vertical-align: middle;
  border-style: none;
}
button:focus {
  outline: dotted 1px;
  outline: -webkit-focus-ring-color auto 5px
}
button {
  border-radius: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-transform: none
}
button,
html [type=button] {
  -webkit-appearance: button
}
[type=button]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border-style: none
}
/*****************/
/** ROOT STYLES **/
.title{
  font-size:2rem;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.btn {
  font-weight: 400;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.btn:focus,.btn:hover {
  text-decoration: none;
}
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
}
.navbar-brand {
  display: inline-block;
  padding:5px;
  margin-right: 1rem;
  font-size: 1rem;
  line-height: inherit;
}
.navbar-brand img {
  width:30px;
  transition:filter ease .5s;
}
.navbar-brand img:hover {
    filter: brightness(50%);
}
.card {
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  position: relative;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .25rem;
  width: 19rem;
  margin:1rem auto;
  line-height:1.6rem;
}
.what{
  display:inline-block;
  width:6rem;
  font-weight:300;
  vertical-align: top;
}
.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}
.card-title {
  margin-bottom: .75rem;
}
.card-text:last-child {
  margin-bottom: 0;
}
.card-img-top {
  width: 100%;
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
}
@media (min-width: 800px) {
  .align-items-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .view{
    text-align:right;
  }
}
.text-center {
  text-align: center!important;
}
.view, .view .mask, .waves-effect {
  overflow: hidden;
}
.rgba-black-light {
  background-color: rgba(0, 0, 0, .35)
}
.white-text {
  color: #FFFFFF;
}
.card .card-body .card-text, .card .map-card-body .card-text {
    color: #4f4f4f;
    margin-top: .8rem;
    font-weight: 600;
    font-size: .9rem;
    line-height: 1.5rem;
}

:disabled {
  pointer-events: none!important
}
.img-fluid {
  max-width: 100%;
  height: auto
}
.hr-light {
  border-top: 1px solid #fff
}
.font-small {
  font-size: .9rem
}
.view {
  position: relative;
  cursor: default
}
.view .mask {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-attachment: fixed
}
.btn {
  padding: .84rem 2.14rem;
  font-size: .81rem;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  margin: .375rem;
  border: 0;
  -webkit-border-radius: .125rem;
  border-radius: .125rem;
  cursor: pointer;
  text-transform: uppercase;
  white-space: normal;
  word-wrap: break-word;
  color: #fff
}
.btn:active,.btn:focus,.btn:hover {
  outline: 0
}
.btn.btn-md {
  padding: .7rem 1.6rem;
  font-size: .7rem
}
.btn[class*=btn-outline-] {
  padding-top: .7rem;
  padding-bottom: .7rem
}
.btn-outline-white {
  border: 2px solid #fff!important;
  background-color: rgba(255,255,255,0.1);
  color: #fff!important;
  margin:0 auto;
  display:block;
  margin-bottom:18px;
}
.btn-outline-white:active,.btn-outline-white:active:focus,.btn-outline-white:focus,.btn-outline-white:hover {
  border-color: #fff!important;
  background-color: transparent!important;
  color: #fff!important
}
.btn-outline-white:not([disabled]):not(.disabled):active {
  background-color: transparent!important;
  border-color: #fff!important
}
.card .card-body .card-title a,
.card .card-body .card-title a:hover {
  -webkit-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out
}
footer.page-footer {
  bottom: 0;
  color: #fff;
  padding:2rem 0 0 0;
}
footer .container .row{
  font-size:0.8em;
  text-align:left;
}
footer.page-footer .footer-copyright {
  overflow: hidden;
  background-color: rgba(0, 0, 0, .2);
  font-size: .9rem;
  color: rgba(255, 255, 255, .6);
  bottom: 0;
  margin-top:1rem;
  padding:.5rem 0;
}
footer.page-footer a {
  color: #fff
}
@media (max-width:740px) {
  .full-page-intro {
    height: 1000px;
  }
  .not-tablet{
    display: none;
  }
  h1{
    font-size:1.6rem;
    padding-top:1rem;
  }
  h3{
    font-size:1.3rem;
  }
  p{
    font-size:.9rem;
  }
}
.page-footer {
  background-color: #1C2331
}
@media (max-width: 740px) {
  html, body, .view {
    height: 1000px;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  html, body, .view {
    height: 650px;
  }
}
.tile-holder{
position: relative;
  width: 50%;
}
.tile{
  display: block;
  width: 100%;
  height: auto;
}
.tile-hover{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0,0,0,0.65);
  margin: 0 15px;
}
.tile-holder:hover .tile-hover {
  opacity: 1;
}
.tile-hover p{
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/************************/
/** LISTING PAGE CARDS **/
.view {
  position: relative;
  overflow: hidden;
  cursor: default;
}
*, ::after, ::before {
  box-sizing: border-box;
}
.card {
  font-weight: 400;
}
.card {
  word-wrap: break-word;
}
.card-img-top {
  width: 100%;
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
}

/*******************/
/** UTIL CLASSES **/
.right{
  text-align:right;
}

/*************/
/** CLASSES **/
.subscribe {
  margin-top:50px;
  padding:50px;
  background:#FFF;
}
.hero-text {
  text-shadow: 1px 1px 2px #000;
}
.hero{
  display:block;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: 0 0;
}
.filters label {
  width: 30%;
  float: left;
  top: -5px;
  position: relative;
}
.current-values{
  padding-left:30%;
  margin:0;
}
.filters .row {
  padding:1rem;
}
.filters .row .col-md-4{
  background-color:rgba(3,3,3,.03);
  padding:1rem;
}
.sort-list{
  margin:20px auto 0 auto;
  text-align:center;
}
.flag {
  width: 35px;
  background-size: 100%;
  background-repeat: no-repeat;
  display: block;
  height: 41px;
  margin-bottom: -5px;
  float: left;
  margin-right: 10px;
}
.big-flag{
  width: 40px;
  margin-top:5px;
}
.crag-hero{
  max-width:100%;
  max-height: 90vh;
  object-fit: cover;
  margin:0 auto;
  display: block;
}
.no-results{
  min-height:300px;
  text-align:center;
  width:100%;
  padding-top: 100px;
}
/*******************/
/** SCROLL ARROW **/

.scroll-down-arrow {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2hldnJvbl90aGluX2Rvd24iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiBmaWxsPSJ3aGl0ZSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZD0iTTE3LjQxOCw2LjEwOWMwLjI3Mi0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwYzAuMjcsMC4yNjgsMC4yNzEsMC43MDEsMCwwLjk2OWwtNy45MDgsNy44M2MtMC4yNywwLjI2OC0wLjcwNywwLjI2OC0wLjk3OSwwbC03LjkwOC03LjgzYy0wLjI3LTAuMjY4LTAuMjctMC43MDEsMC0wLjk2OWMwLjI3MS0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwTDEwLDEzLjI1TDE3LjQxOCw2LjEwOXoiLz48L3N2Zz4=);
  background-size: contain;
  background-repeat: no-repeat;
}
.scroll-down-link {
  cursor:pointer;
  height: 30px;
  width: 40px;
  margin: 0px 0 0 -40px;
  line-height: 60px;
  position: absolute;
  left: 50%;
  bottom: 15px;
  color: #FFF;
  text-align: center;
  font-size: 70px;
  z-index: 3;
  text-decoration: none;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
  -webkit-animation: ca3_fade_move_down 2s ease-in-out infinite;
  -moz-animation:  ca3_fade_move_down 2s ease-in-out infinite;
  animation:     ca3_fade_move_down 2s ease-in-out infinite;
}
/*animated scroll arrow animation*/
@-webkit-keyframes ca3_fade_move_down {
  0%   { -webkit-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,20px); opacity: 0; }
}
@-moz-keyframes ca3_fade_move_down {
  0%   { -moz-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,20px); opacity: 0; }
}
@keyframes ca3_fade_move_down {
  0%   { transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,20px); opacity: 0; }
}
@media (max-width:740px) {
  .scroll-down-arrow {
    display: none;
  }
  .scroll-down-link{
    display: none;
  }
}
/************************/
/** multi range slider **/
@supports (--css: variables) {
  input[type="range"].multirange {
  padding: 0;
  margin: 0;
  display: inline-block;
  vertical-align: top;
  }

  input[type="range"].multirange.original {
  position: absolute;
  }

  input[type="range"].multirange.original::-webkit-slider-thumb {
    position: relative;
    z-index: 2;
  }

  input[type="range"].multirange.original::-moz-range-thumb {
    transform: scale(1); /* FF doesn't apply position it seems */
    z-index: 1;
  }

  input[type="range"].multirange::-moz-range-track {
    border-color: transparent; /* needed to switch FF to "styleable" control */
  }

  input[type="range"].multirange.ghost {
  position: relative;
  background: var(--track-background);
  --track-background: linear-gradient(to right,
    transparent var(--low), var(--range-color) 0,
    var(--range-color) var(--high), transparent 0
    ) no-repeat 0 45% / 100% 40%;
  --range-color: hsl(190, 80%, 40%);
  }

  input[type="range"].multirange.ghost::-webkit-slider-runnable-track {
  background: var(--track-background);
  }

  input[type="range"].multirange.ghost::-moz-range-track {
  background: var(--track-background);
  }
}
nav {
  background-color:#1C2331;
  box-shadow:0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  position:fixed;
  color:#FFF;
  width:100%;
  top:0;
  left:0;
  display:block;
  z-index:13;
  padding:.5rem;
  font-weight:100;
}
nav ul, nav ul li, nav ul li a{
  list-style:none;
  display:inline;
  color:#FFF;
  padding-left:0;
}
nav ul li a {
  margin-right:1rem;
}
nav ul li a:hover {
  color: rgba(255, 255, 255, .75);
}
@media (max-width:480px) {
  .not-mobile{
     display:none;
  }
  nav {
    padding:0;
  }
}
select {
  background-color: transparent;
  border: none;
  display: inline-block;
  font: inherit;
  line-height: 1.2em;
  padding: 0 3em 0.2em .2em;
  margin: 0;  /* reset */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size:1.2em;
  border-bottom:1px solid rgba(0,0,0,0.1);
  background-image:
  linear-gradient(45deg, transparent 50%, gray 50%),
  linear-gradient(135deg, gray 50%, transparent 50%);
  background-position: calc(100% - 20px) 10px, calc(100% - 15px) 10px;
  background-size: 5px 5px, 5px 5px;
  background-repeat: no-repeat;
}
select:focus {
  background-image:
  linear-gradient(45deg, grey 50%, transparent 50%),
  linear-gradient(135deg, transparent 50%, grey 50%);
  background-position: calc(100% - 15px) 10px, calc(100% - 20px) 10px;
  background-size: 5px 5px, 5px 5px;
  background-repeat: no-repeat;
  outline: 0;
}
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
@media (max-width: 1000px) {
  input[type="range"].multirange{
  width:135px;
  }
}

@media (max-width: 799px) {
  .align-items-center {
    padding-top:80px;
    -webkit-box-pack: none;
    -ms-flex-pack: none;
    justify-content: none;
    -webkit-box-align: none;
    -ms-flex-align: none;
    align-items: none;
  }
  .view{
    height:600px;
    text-align:center;
  }
}
blockquote{
  margin-top:-1rem;
}
blockquote:before {
  content: '\201C';
  background: transparent;
  width: 3rem;
  height: 2rem;
  color: #666;
  text-align: left;
  font-size:4rem;
  position:relative;
  left:-2rem;
  top:.5rem;
  display:block;
  font-family:Times,serif;
}
.overlay{
  display:none;
  background-color:rgba(0,0,0, 0.0);
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  z-index:8;
  transition: background-color 1s;
  overflow:scroll;
}
.open-tile {
  text-align: center;
  color: #0055B8;
  background:#FFFFFF;
  text-decoration: none;
  background-color: transparent;
  font-weight: 500;
  width: 14Rem;
  border: 1px solid #ccc;
  padding: 2px 15px;
  margin: 0 auto 1rem;
  display: block;
}
.info-ring{
  display: inline-block;
  border: 1px solid #111;
  width: 76px;
  border-radius: 38px;
  padding: 0;
  height: 76px;
  margin:.4rem;
  font-size:0.9rem;
}
.info-divider{
  width: 74px;
  display: block;
  border-bottom: 1px solid #111;
  padding: 0;
  margin: 0;
  left: 0;
  position: relative;
}
.grade{
  width: 74px;
  text-align: center;
  display: block;
  padding-top: 2px;
  height:35px;
}
.grade:first-of-type{
  padding-top: 10px;
}
.pitch-title {
  padding: 1rem 0 0 0;
  display: inline-block;
}
.social-share {
  text-decoration: none;
  text-align: right;
  padding: 1.5rem;
  font-size: 32px;
  
}
.social-share a{
  color:#222222;
  transition: color 1s ease;
}
.topo-controls{
  text-align: center;
  background: #fcfcfc;
  display: block;
  margin: 0 auto 5px auto;
  padding: 10px;
}
.topo-controls label{
  margin:auto 1rem;
  word-wrap:break-word;
  display:inline-block;
}
input[type="checkbox"] {
  vertical-align:middle;
}
@media (max-width: 600px) {
  .info-ring-holder{
    text-align:center;
  }
  .social-share {
    text-align: center;
  }
}
hr {
  clear:both;
  display:block;
}
.what{
  font-size:.7rem;
  font-weight:300;
}
.amount{
  font-weight:700;
}
.smaller{
  font-size:0.9rem;
}
.close {
  position: fixed;
  right: 15px;
  top: 15px;
  width: 50px;
  height: 50px;
  opacity: 0.9;
  z-index:15;
  display:none;
  background:rgba(0,0,0,0.8);
  border-radius:50%;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 24px;
  content: ' ';
  height: 33px;
  width: 3px;
  background-color: #FFF;
  top:8px
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
.big-card{
  overflow: auto;
  max-height: 100%;
  z-index: 12;
  top: 0;
  max-width: 800px;
  margin: 10px auto;
  display: block;
  width: 100%;
}
.big-card-body{
  background-color:#FFF;
  margin-top:-60px;
  position:relative;
  padding:1.5rem 1rem 2rem 1rem;
}
.big-card-body .smaller{
    padding-top:4px;
}
.big-card-map{
  width:100%;
  object-fit: cover;
  min-height: 200px;
}
.approach-1:before{
	content: "easy";
}
.approach-2:before{
	content: "moderate";
}
.approach-3:before{
	content: "involved";
}
.credit{
  margin-top:0;
  position: relative;
  font-size: .7rem;
  text-align:right;
}
.credit a {
  color:#555;
}
.img-contaner:hover .txt-ovr-img{
  opacity:1;
}
/***********/
/** FLAGS **/
.england{
  background-image: url('/img/flags/en.png');
}
.scotland {
  background-image: url('/img/flags/sco.png');
}
.wales{
  background-image: url('/img/flags/wa.png');
}
.bulgaria{
  background-image: url('/img/flags/bg.png');
}
.ireland{
  background-image: url('/img/flags/ie.png');
}
.portugal{
  background-image: url('/img/flags/pt.png');
}
.italy{
  background-image: url('/img/flags/it.png');
}
.spain {
  background-image: url('/img/flags/es.png');
}
.usa {
  background-image: url('/img/flags/us.png');
}
.norway {
  background-image: url('/img/flags/no.png');
}
.marocco {
  background-image: url('/img/flags/ma.png');
}
.canada {
  background-image: url('/img/flags/ca.png');
}
.hongkong {
  background-image: url('/img/flags/hk.png');
}
.greece {
  background-image: url('/img/flags/gr.png');
}
.france {
  background-image: url('/img/flags/fr.png');
}
.switzerland {
    background-image: url('/img/flags/ch.png');
}
.jordan {
  background-image: url('/img/flags/jo.png');
}
/** CHARTS **/
.chart {
  display: table;
  table-layout: fixed;
  width: 100%;
  max-width: 500px;
  height: 200px;
  margin: -20px auto 0 auto;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 2%, rgba(0, 0, 0, 0) 2%);
  background-size: 100% 50px;
  background-position: left top;
  padding: 0 0 2rem 0;
}
.chart li {
  position: relative;
  display: table-cell;
  vertical-align: bottom;
  height: 200px;
  text-align:center;
  font-size:0.5rem;
}
.chart span {
  margin: 0 5px;
  display: block;
  background: rgba(209, 236, 250, 0.75);
  animation: draw 1s ease-in-out;
}
.temp span {
  background: rgba(255, 212, 58, 0.8);
}
.ie-warn {
  display:none;
  height:40px;
  background:yellow;
  font-size:16px;
  margin-top:60px;
  opacity:0.5;
  text-align:center;
  padding:8px;
  color:#000;
  z-index:5;
}
.chart span:before {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  padding: 5px 1em 0;
  display: block;
  text-align: center;
  content: attr(title);
  word-wrap: normal;
  font-size:0.6rem;
}

@keyframes draw {
  0% {
    height: 0;
  }
}

/***********/
/* LOADING */
.loading {
  margin: 25px;
  padding: 25px;
  display: block;
  margin:0 auto;
  min-height:100px;
  width:100%;
}
.loading p{
  color:#222;
  text-align:center;
}
.loading img {
  -webkit-animation: in-out-load 1.8s alternate infinite;
  animation: in-out-load 1.8s alternate infinite;
  display: block;
  filter: invert(100%);
  max-width:100px;
  margin: 0 auto;
}
@-webkit-keyframes in-out-load {
  0% {opacity: 1;}
  100% {opacity: 0;}
}
@keyframes in-out-load {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

/**************/
/** HP HERO **/

.full-page-intro{
  background-position:top left;
  background-repeat: no-repeat;
  background-size: cover;
}
.full-screen-container{
  padding:0;
  margin-top:45px;
}
.guidebook-img {
  width: 100%;
  max-width:250px;
  margin: 0 auto 2rem;
  display: block;
}
.main {
  margin-top: 40px;
}
@media (min-width:481px) {
  .main{
    margin-top: 55px;
  }
}
@media (min-width:574px) {
  .full-screen-container {
    margin-top: 0;
  }
}
.map-card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    position: relative;
    background: #FFFFFF;
    padding: 0;
}
.map-card-body:after {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.map-card-body:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #FFF;
	border-width: 40px;
	margin-left: -40px;
}
.map-card-body:before {
	border-color: rgba(255, 225, 255, 0);
	border-bottom-color: #FFF;
	border-width: 40px;
	margin-left: -40px;
}

/** WEATHER **/
.toggle-weather-off{
  display:block;
  height:24px;
}
.toggle-weather-off span{
  display:none;
}
.weather{
  background-size: 36px;
  display: inline-block;
  height: 28px;
  width: 28px;
  margin-top: -8px;
  margin-left: -8px;
  vertical-align: text-bottom;
}
.rain{
  background-image: url(/img/icons/weather/rain.svg);
}
.clear-day{
  background-image: url(/img/icons/weather/clear-day.svg);
}
.partly-cloudy-day{
  background-image: url(/img/icons/weather/partly-cloudy-day.svg);
}
.fog{
  background-image: url(/img/icons/weather/fog.svg);
}
.clear-night{
  background-image: url(/img/icons/weather/clear-night.svg);
}
.partly-cloudy-night{
  background-image: url(/img/icons/weather/partly-cloudy-night.svg); 
}
.sleet{
  background-image: url(/img/icons/weather/sleet.svg); 
}
.snow{
  background-image: url(/img/icons/weather/snow.svg); 
}
.wind{
  background-image: url(/img/icons/weather/wind.svg); 
}