html, body {
    width: 100%;
    margin: 0;
    text-align: center;
    font-family: 'Hind', sans-serif;
    transition: background-color 0.5s ease;
}
h1 {
    top: 0;
    left: 0;
    width:100%;
    font-size:22px;
    background-color: #121212;
    color: #FFFFFF;
    margin:0;
    padding:6px 0;
}
h2{
    text-transform: capitalize;
    margin-bottom:20px;
    display: block;
    margin: 20px 0 0 0;
}
#color{
    display:block;
    width:80px;
    height:80px;
    border-radius:40px;
    margin:0 auto 20px;
}
button {
    margin: 25px auto 0;
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}
button:hover, button:focus {
    background: #0053ba;
}
button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}
button:active {
    transform: scale(0.99);
}
.secondary {
    border: 2px solid rgb(165, 3, 3);
    color: rgb(165, 3, 3);
    background: #FFF;
    display: none;
}
.secondary:hover, .secondary:focus {
    background: #fcc2c2;
}
.holder{
    width: 90%;
    padding: 0 5%;
}
section {
    display:inline-block;
    width:100%;
    border-radius:5px;
    background: #F9F9F9;		
    display: none;
    margin-bottom: 12px;
    transition: all 0.2s ease;
}
.shrink{
    transform: scale(70%);
}
h3 {
    font-size:60px;
    margin: 0;
}
footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: #fff;
    font-size: 10px;
}
.ring{
    max-width: 75px;
    margin: 20px 0 20px 20px;
    flex: 30%;
}
.task {
    margin: 20px;
    flex: 70%;
    font-size: 20px;
    text-align: left;
}
aside{
    width: 100%;
}
aside div {
    display: flex;
    flex:50%;
    background-color: #F9F9F9;
    margin: 5px;
}
aside .task{
    font-size: 12px;
    margin: 10px;
}
aside .ring {
    max-width: 50px;
    margin: 10px;
}
#preview{
    display: none;
}
#next{
    display: none;
}